In [1]:
#import important libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

data=pd.read_csv('car data.csv')
data.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [2]:
data.describe()

              Year  Selling_Price  Present_Price     Kms_Driven       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.644115   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [3]:
data.dtypes

Car_Name          object
Year               int64
Selling_Price    float64
Present_Price    float64
Kms_Driven         int64
Fuel_Type         object
Seller_Type       object
Transmission      object
Owner              int64
dtype: object

In [4]:
# To find Total no of years
data['no_year']=2020-data['Year']

In [5]:
data.head() # Now Here we se that new coloum is added.

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,no_year
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0,6
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0,7
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0,3
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0,9
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0,6

In [6]:
#Drop the column whose important is not much.
data.drop(['Car_Name','Year'],axis=1,inplace=True)

In [7]:
#Now convert categorical variable into integer variable
data=pd.get_dummies(data)
data.head()

,Selling_Price,Present_Price,Kms_Driven,Owner,no_year,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Dealer,Seller_Type_Individual,Transmission_Automatic,Transmission_Manual
0,3.35,5.59,27000,0,6,0,0,1,1,0,0,1
1,4.75,9.54,43000,0,7,0,1,0,1,0,0,1
2,7.25,9.85,6900,0,3,0,0,1,1,0,0,1
3,2.85,4.15,5200,0,9,0,0,1,1,0,0,1
4,4.60,6.87,42450,0,6,0,1,0,1,0,0,1

In [8]:
# Divide our dataset into dependent and independent variable
x=data.drop('Selling_Price',axis=1)
y=data['Selling_Price']

In [9]:
y.shape

(301,)

In [10]:
x.shape

(301, 11)

In [11]:
# Convert our dataset into test and train dataset.
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,random_state=5)

print(x_train.shape)
print(y_train.shape)

(225, 11)
(225,)

In [12]:
#Here first we apply linear Regression model

from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)
prediction = lr.predict(x_test)

In [13]:
prediction

array([10.78421144, 10.95112468,  4.43422889,  6.04535164,  2.57202794,
        9.1338238 ,  7.24330305,  1.50656647, 16.04677278,  4.7450578 ,
        6.84008313,  6.3857336 ,  3.477431  ,  3.56076593, -0.57494497,
        4.18519916,  9.04177316, -0.27113047,  9.13473208,  1.20449498,
        7.46326947, 18.19681713, 19.52891292,  0.2380589 ,  2.17897109,
        4.76573255,  4.95395411,  6.80644562,  5.23204333,  5.46788519,
        4.36968896,  7.90005119,  5.74736324, -0.46784049,  0.68610858,
        7.12867273,  7.36186828,  5.41955025,  1.19155981,  1.21938827,
        2.07121458,  5.15047027, 13.94458027, -9.18072563,  1.40851856,
        4.02747881, -0.83723581,  8.55087047,  4.35286408,  4.84058685,
        5.19182941, 16.41985052,  0.89186356,  1.66282854,  1.65728181,
       -1.33878587,  2.88185614,  0.68410052, -1.70556136,  1.62452631,
        0.70724975,  2.90462069,  8.07723989, 10.15902756,  1.85526352,
        8.07954838,  0.83701906,  4.36496975,  2.42716646,  5.53189848,
        4.02814083,  5.35168743,  0.57702847,  5.81280264,  4.46772106,
        5.54401244])

In [14]:
from sklearn import metrics

print('MAE: ',metrics.mean_absolute_error(y_test,prediction))
print('MSE: ',metrics.mean_squared_error(y_test,prediction))
print('RMSE: ',np.sqrt(metrics.mean_squared_error(y_test,prediction)))
print('R squared: ',metrics.r2_score(y_test,prediction))

MAE:  1.1409961087859033
MSE:  3.2815963416575205
RMSE:  1.8115176901309908
R squared:  0.8608525898499435

In [16]:
from sklearn.linear_model import Ridge

ridge=Ridge()
ridge.fit(x_train,y_train)
prediction = ridge.predict(x_test)

print('MAE: ',metrics.mean_absolute_error(y_test,prediction))
print('MSE: ',metrics.mean_squared_error(y_test,prediction))
print('RMSE: ',np.sqrt(metrics.mean_squared_error(y_test,prediction)))
print('R squared: ',metrics.r2_score(y_test,prediction))

MAE:  1.1332339163458571
MSE:  3.27382664365264
RMSE:  1.809371892025694
R squared:  0.8611820433361335

In [17]:
# Now we do some hyperparameter tuning
# --- Randamized Search CV

from sklearn.model_selection import RandomizedSearchCV,GridSearchCV
l=Ridge()
parameters={'alpha':[1,20]}
l=RandomizedSearchCV(l,parameters,scoring="neg_mean_squared_error",cv=5)
l.fit(x_train,y_train)
prediction = l.predict(x_test)
print('MAE: ',metrics.mean_absolute_error(y_test,prediction))
print('MSE: ',metrics.mean_squared_error(y_test,prediction))
print('RMSE: ',np.sqrt(metrics.mean_squared_error(y_test,prediction)))
print('R squared: ',metrics.r2_score(y_test,prediction))

MAE:  1.1187640189415793
MSE:  3.2349381933942616
RMSE:  1.7985933930141802
R squared:  0.8628310051750747

C:\Users\Aksrajjput\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:281: UserWarning: The total space of parameters 2 is smaller than n_iter=10. Running 2 iterations. For exhaustive searches, use GridSearchCV.
  % (grid_size, self.n_iter, grid_size), UserWarning)

In [18]:
#---- Grid Search CV

r=Ridge()
parameters={'alpha':[1000,100,30,40,50]}
l=GridSearchCV(r,parameters,scoring="neg_mean_squared_error",cv=5)
l.fit(x_train,y_train)
prediction = l.predict(x_test)
print('MAE: ',metrics.mean_absolute_error(y_test,prediction))
print('MSE: ',metrics.mean_squared_error(y_test,prediction))
print('RMSE: ',np.sqrt(metrics.mean_squared_error(y_test,prediction)))
print('R squared: ',metrics.r2_score(y_test,prediction))

MAE:  1.1194605545945524
MSE:  3.23511727277687
RMSE:  1.7986431755011525
R squared:  0.8628234117876783

In [19]:
# Now we try RandomForest Regressor Model
# Also apply hyperparameter tuning.
from sklearn.ensemble import RandomForestRegressor

n_estimators = [int(x) for x in np.linspace(start = 200, stop = 2000, num = 10)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}

In [20]:

r=RandomForestRegressor(n_estimators=100)
rf = RandomForestRegressor()
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 100, cv = 3, verbose=2, random_state=42, n_jobs = -1)
rf_random.fit(x_train,y_train)
prediction = rf_random.predict(x_test)
print('MAE: ',metrics.mean_absolute_error(y_test,prediction))
print('MSE: ',metrics.mean_squared_error(y_test,prediction))
print('RMSE: ',np.sqrt(metrics.mean_squared_error(y_test,prediction)))
print('R squared: ',metrics.r2_score(y_test,prediction))

Fitting 3 folds for each of 100 candidates, totalling 300 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:   17.7s
[Parallel(n_jobs=-1)]: Done 146 tasks      | elapsed:  1.0min
[Parallel(n_jobs=-1)]: Done 300 out of 300 | elapsed:  2.0min finished

MAE:  0.5711302631579102
MSE:  1.0849936344481872
RMSE:  1.0416302772328516
R squared:  0.9539937156967618

In [22]:
# We incresed accuracy from previous model.

# Now test it to test dataset 

rf.fit(x_train,y_train)
prediction = rf.predict(x_test)
print('MAE: ',metrics.mean_absolute_error(y_test,prediction))
print('MSE: ',metrics.mean_squared_error(y_test,prediction))
print('RMSE: ',np.sqrt(metrics.mean_squared_error(y_test,prediction)))
print('R squared: ',metrics.r2_score(y_test,prediction))

MAE:  0.5355618421052641
MSE:  0.7596239532894744
RMSE:  0.871564084442145
R squared:  0.9677901561363914

In [23]:
# Now We can save our model in pickle formate for future use.
import pickle 
pickle.dump(r,open('model.pkl','wb'))